.macbook-pro-14-1-child {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .macbook-pro-14-1-child,
  .macbook-pro-14-1-item {
    height: 4.375rem;
    width: 32.875rem;
    position: relative;
    background-color: #d9d9d9;
    border: 1px solid #000;
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .frame-child,
  .frame-item {
    position: relative;
    object-fit: cover;
  }
  .frame-child {
    height: 43.75rem;
    width: 44.5rem;
    display: none;
    max-width: 100%;
  }
  .frame-item {
    height: 3.75rem;
  width: 19.688rem;
  z-index: 1;
}
.rectangle-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.625rem 2.562rem;
  box-sizing: border-box;
  background-image: url(./public/frame-3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 28.938rem;
  min-height: 43.75rem;
  max-width: 100%;
}
.frame-inner {
  width: 43.813rem;
  height: 43.75rem;
  background: linear-gradient(180deg, #bce6ef, #6c8489);
  display: none;
}
.employee-id,
.frame-inner,
.id-separator {
  position: relative;
  max-width: 100%;
}
.employee-id {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: Inter;
  font-size: 1rem;
  background-color: transparent;
  height: 4.313rem;
  flex: 1;
  line-height: 100%;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 15.625rem;
  padding: 0;
  z-index: 1;
}
.id-separator {
  align-self: stretch;
  width: 22.688rem;
  background-color: #d9d9d9;
  z-index: 2;
  margin-left: -22.688rem;
}
.employee-id-parent {
  align-self: stretch;
  height: 4.313rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.password {
  align-self: stretch;
  position: relative;
  font-size: 1rem;
  line-height: 100%;
  font-family: Inter;
  color: #0a0909;
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.password-field {
    width: 10.438rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.187rem 0 0;
  box-sizing: border-box;
}
.password-separator {
  height: 4.688rem;
  flex: 1;
  position: relative;
  background-color: #d9d9d9;
  min-width: 14.563rem;
  max-width: 100%;
  z-index: 2;
}
.frame-parent,
.password-field-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.password-field-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  row-gap: 20px;
}
.frame-parent {
  width: 32.875rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.437rem;
}
.star-icon {
  height: 1rem;
  width: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 1rem;
}
.button1 {
  flex: 1;
  position: relative;
  font-size: 1rem;
  line-height: 100%;
  font-family: Inter;
  color: #f5f5f5;
  text-align: left;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.x-icon {
  height: 1rem;
  width: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 1rem;
}
.button,
.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button {
  cursor: pointer;
  border: 1px solid #2c2c2c;
  padding: 1.5rem 1.687rem 1.5rem 1.75rem;
  background-color: transparent;
  width: 6.75rem;
  border-radius: 8px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2c2c2c;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: 0.5rem;
  z-index: 1;
}
.button-wrapper {
  width: 32.75rem;
  justify-content: center;
  max-width: 100%;
}
.macbook-pro-14-1,
.rectangle-group {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-group {
  margin: 0;
  width: 43.813rem;
  background: linear-gradient(180deg, #bce6ef, #6c8489);
  flex-direction: column;
  align-items: flex-end;
  padding: 7.812rem 3.812rem 15.25rem;
  gap: 4rem;
  min-width: 43.813rem;
  max-width: 100%;
}
.macbook-pro-14-1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: 4.812rem 2.937rem 12.812rem;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
}
@media screen and (max-width: 1200px) {
  .rectangle-parent {
    min-height: auto;
  }
  .rectangle-group {
    flex: 1;
  }
  .macbook-pro-14-1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
    .rectangle-group {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    .rectangle-parent {
      min-width: 100%;
    }
    .password-field-parent {
      flex-wrap: wrap;
    }
    .frame-parent {
      gap: 1.688rem;
    }
    .rectangle-group {
      gap: 2rem;
      padding: 5.063rem 1.875rem 9.938rem;
      box-sizing: border-box;
    }
    .macbook-pro-14-1 {
      padding-left: 1.438rem;
      padding-right: 1.438rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .rectangle-group {
      gap: 1rem;
    }
}